
.container{
    width: 1000px;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
}

.left{
    width: 80%;
    height: 100%;
    float: left;
}

.left-top{
    width: 100%;
    height: 30%;
}

.profile{
    width: 10%;
    height: 100%;
    padding: 3px;
    text-align: center;
    box-sizing: border-box;
    float: left;
}

.profile img{
    width: 50px;
    height: 50px;
}

.user{
    width: 90%;
    height: 100%;
    
    float: left;
}

.user-name{
    width: 100%;
    height: 50%;
    
}

.user-time{
    width: 100%;
    height: 50%;
    
    color: gray;
    font-size: 12px;
}

.left-bot{
    width: 100%;
    height: 70%;
    padding: 15 px;
    box-sizing: border-box;
    
}

.title{
    width: 100%;
    height: 30%;
    
    font-weight: bold;
    font-size: 18px;
}

.text{
    width: 100%;
    height: 70%;
    
    color: gray;
}

.right{
    width: 20%;
    height: 100%;

    float: left;
}

.right img{
    width: 100%;
}