
.container{
    width: 800px;
}

.header{
    width: 100%;
    height: 100px;
    background-color: palevioletred;
}

.left-menu{
    width: 20%;
    height: 400px;
    background-color: cornflowerblue;
    display: inline-block;
    vertical-align: top;
}

.right{
    width: 80%;
    height: 400px;
    background-color: coral;
    display: inline-block;
}

.footer{
    width: 100%;
    height: 100px;
    background-color: yellowgreen;
}

























